<!DOCTYPE html>
<html>
  <head>
    <title>LinkShortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
  </head>

  <body>
    <div class="container">
      <div class="center_div">
        <div class="logo_custom">
          <%= image_tag "link-256.png", size: "150x150", alt: "Link" %>
          <h1>URL Shortener</h1>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
